/* stijl pagina voor naamkaartje*/
main{
    min-height: 100vh;
}

div.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em
}

div.alles{
    margin: 2em;
    width: 30em;
    border: 5px solid rgb(47, 83, 134);
    border-radius: 3%;
    font: bold 100%/1.9  Thasadith , Arial, sans-serif;

}

div.mynameis{
    background: rgb(46, 30, 58);
    padding: 2.5em;
}

section.name{
    color: white;
    font-family: Amatic SC, cursive;
    font-size: 35px;
}

span.subline{
    font-size: 25px
}

div.edit{
    display: flex;
    flex-direction: column;
    background: white;
}

p{
    color: dimgray;
    font-family: Thasadith, cursive;
    font-size: 20px;

}

h2{ padding: 1em; }

span#wijzig{ margin-bottom: 2em;}

button#reset,
input{ border-radius: 5px;}

